@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,500;0,600;0,700;0,800;1,800&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(90deg, rgba(197, 131, 217, 0.6), rgba(82, 125, 182, 0.6));
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#wrapper {
	display: flex;
	gap: 10%;
	align-items: center;
	width: 98%;
	height: 98%;
	position: relative;
	font-size: 15px;
}

#menu-buttons {
	padding: 2%;
	width: 20%;
	height: 80%;
	display: flex;
	flex-direction: column;
	gap: 5%;
	z-index: 1;
}

#menu-buttons button {
	text-transform: uppercase;
	height: 8%;
	background: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(238, 238, 236, 1));
	border: none;
	border-radius: 10px;
	box-shadow: 0 3px 0 rgba(214, 212, 212, 1);
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	font-size: 150%;
	letter-spacing: 2px;
	color: rgb(62, 145, 175);
}

#menu-buttons button:active,
#settingsField .small-buttons:active,
#piecesField .small-buttons:active {
	box-shadow: 0 0 6px rgb(201, 200, 200) inset;
}

#play-field {
	display: flex;
	justify-content: space-around;
	width: 40%;
	height: 80%;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 6%;
	z-index: 1;
}

#aboutDisplayField,
#levelsField {
	display: flex;
	flex-direction: column;
	gap: 5%;
	padding: 5%;
	font-family: "Montserrat", sans-serif;
}

#settingsField {
	display: grid;
	grid-template-columns: 10% 1fr;
	grid-template-rows: 10%  10%;
	gap: 10%;
	padding: 2%;
	height: 80%;
	width: 80%;
	align-self: center;
	border-radius: 5px;
	background-color: rgba(217, 147, 238, 0.8);
}

#settingsField .small-buttons {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 150%;
	background: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(238, 238, 236, 1));
	border-radius: 10px;
	box-shadow: 0 3px 0 rgba(214, 212, 212, 1);
	color: rgb(62, 145, 175);
}

#settingsField .settings-text-field {
	color: rgba(255, 255, 255, 1);
	font-size: 150%;
	display: flex;
	align-items: center;
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}

#aboutDisplayField h3,
#levelsField h3 {
	color: rgb(62, 145, 175);
	margin: 10% 0 0 0;
	text-align: center;
	font-size: 200%;
}

#aboutDisplayField p {
	line-height: 200%;
	font-size: 150%;
}

#levelsList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 10%;
}

#levelsList .lvlBtn {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 15%;
	height: 150%;
	border-radius: 25%;
	background: linear-gradient(90deg, rgba(197, 131, 217, 1), rgba(82, 125, 182, 1));
	box-shadow: 0 3px 0 rgb(197, 196, 196);
	font-weight: 600;
	color: white;
	font-size: 130%;
}

#playArea {
	position: relative;
	width: 80%;
	height: 90%;
	display: flex;
	flex-direction: column;
	gap: 5%;
	align-self: center;
}

#playArea #puzzleField {
	height: 70%;
	border-radius: 5px;
	background-color: rgb(116, 165, 228);
}

#playArea #piecesField {
	height: 25%;
	border-radius: 5px;
	background-color: rgb(217, 147, 238);
	display: flex;
	align-items: center;
	gap: 10%;
	padding: 5%;
}

#piecesField .small-buttons {
	width: 10%;
	height: 40%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 150%;
	background: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(238, 238, 236, 1));
	border-radius: 10px;
	box-shadow: 0 3px 0 rgba(214, 212, 212, 1);
	color: rgb(62, 145, 175);
}

@media only all and (max-width: 1366px) {
	#play-field {
		width: 50%;
	}
}

@media only all and (max-width: 1060px) {
	#play-field {
		width: 60%;
	}

	#menu-buttons button {
		font-size: 120%;
	}
}

@media only all and (max-width: 950px) {
	#wrapper {
		flex-direction: column;
		gap: 5%;
		align-items: center;
	}

	#menu-buttons {
		width: 80%;
		height: 10%;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		gap: 5%;
	}
	
	#play-field {
		width: 80%;
	}

	#menu-buttons button {
		font-size: 120%;
		height: 100%;
		padding: 2%;
	}
}

@media only all and (max-width: 900px) {
	#wrapper {
		gap: 1%;
	}

	#menu-buttons {
		flex-wrap: wrap;
		justify-content: flex-start;
		height: 20%;
	}

	#menu-buttons button {
		height: 30%;
	}

	#play-field {
		height: 70%;
	}

	#piecesField .small-buttons {
		width: 15%;
		height: 45%;
	}
}

@media only all and (max-width: 580px) {
	#play-field {
		height: 50%;
	}
	#piecesField .small-buttons {
		width: 20%;
		height: 55%;
		font-size: 120%;
	}

	#settingsField {
		grid-template-columns: 15% 1fr;
	}
}

@media only all and (max-width: 355px) {
	#menu-buttons {
		height: 15%;
	}

	#menu-buttons button {
		font-size: 90%;
		height: 20%;
	}

	#play-field {
		height: 40%;
	}

	#aboutDisplayField h3,
	#levelsField h3 {
		margin: 5% 0 0 0;
		font-size: 100%;
	}

	#aboutDisplayField p {
		line-height: 150%;
		font-size: 100%;
	}

	#settingsField {
		grid-template-columns: 20% 1fr;
	}

	#settingsField .settings-text-field {
		display: none;
	}
}